.navbar-fixed
    nav.hoverable(style="background-color: #660099")
        div.nav-wrapper
            div.row
                div.col.s1.m1.l1
                    //i.material-icons.left menu
                    a.white-text.button-collapse.show-on-medium-and-up(style="background-color: #660099" data-activates='slide-out')
                        i.fa.fa-bars.fa-2x
                div.col.s4.m2.l2.offset-s3
                    a.brand-logo(href='#') ApniCare


                div.col.s12.m12.l5.offset-l4.hide-on-med-and-down
                    div.fixed.right

                        ul
                            li
                                a.dropdown-button.btn-flat.white-text(style="background-color: #660099  height:70px" href='#')
                                    i.fa.fa-bell
                            li
                                a.dropdown-button.btn-flat.white-text(href='#' style="background-color: #660099 height: 70px" data-activates='profile_icon')
                                    i.fa.fa-user-circle
