
div.row
            div.col.s12.m12.l9.offset-l3
                div.card.blue.lighten-2
                        .card-content.white-text
                            span.card-title <b>Registered So Far</b>
                            div.row
                                div.col.s12.m4.l4
                                    p Users
                                    span -----
                                div.col.s12.m4.l4
                                    p Doctors
                                    p -----
                                div.col.s12.m4.l4
                                    p Pharmacists
                                    p -----
