doctype html
html
    head
    body
        a(href="/admin/admin_dataCenterDrug") Drug Index
        br
        a(href="/admin/admin_dataCenterDisease") Disease Index
        br
        a(href="/admin/admin_dataCenterMolecule") Molecule Index
        br
        a(href="/admin/admin_dataCenterCategories") Drug categories
