doctype html
html
    head
    body
        a(href="/admin/admin_home") Home
        br
        a(href="/admin/admin_customization") Custumization
        br
        a(href="/admin/admin_report") Report
        br
        a(href="/admin/admin_account") Account
        br
        a(href="/admin/admin_dataCenter") Data center
        br
        a(href="/admin/admin_activityQueue") ActivityQueue
        br
        a(href="/admin/admin_controller") Controller
        br
        a(href="/admin/admin_feedback") Feedback
        br
        a(href="/admin/admin_helpRequest") HelpRequest
        br