doctype html
html
    head
    body
        h3 Admin/Account/Blocked/User

        br
        br
        h4 - Blocked user
        ol
            li
                each value in data
                    p - #{value.name}

        br