doctype html
html
    head
    body
        h3 Admin/Account
        br
        br
        a(href="/admin/admin_accountUser") User
        br
        a(href="/admin/admin_accountDoctor") Doctor
        br
        a(href="/admin/admin_accountPharma") Pharma
        br
        a(href="/admin/admin_accountSubAdmin") Sub_Admin
        br
        a(href="/admin/admin_accountCustomerCare") Customer_Care
        br
        a(href="/admin/admin_accountBlocked") Blocked_Account
        br
        a(href="/admin/admin_accountNewContact") Add new Account