doctype html
html
    head
    body
        h3 Admin/Activity/Data issue
        br
        br
        a(href="/admin/admin_activityDrugIssueList") Issue in Drug Data
        br
        a(href="/admin/admin_activityDiseaseIssueList") Issue in Disease Data
        br
        a(href="/admin/admin_activityMoleculeIssueList") Issue in Molecule Data