doctype html
html
    head
    body
        h3 Admin/Feedback
        br
        br
        a(href="/admin/admin_feedbackUser") User
        br
        a(href="/admin/admin_feedbackHealthCare") Health Care Provider