doctype html
html
    head
    body
        h3 Admin/Account/Blocked

        br
        br
        a(href="/admin/admin_accountBlockedAccountUser") User
        br
        a(href="/admin/admin_accountBlockedAccountHealthCare") Health care provider