div#home.collection
    div.row
        div.col.s8.m8.l8.offset-l3.offset-m2.offset-s2
            h5 Hi #{data.title} #{data.name}
    div.row
        div.col.s8.m8.l8.offset-l3.offset-m2.offset-s2
            h3.center Help Us to Spread More
    div.row
        div.col.s8.m6.l4.offset-s2.offset-m3.offset-l5
            .collection.grey.lighten-1.hoverable.z-depth-4.waves-effect.waves-lighten#home_card.hoverable
                a.black-text(href='#')
                    h4.center Enter DRUG/ DISEASE Information

div.collection-item#extra
    br
    br
    br
    div.row
        div.col.s12.m12.l9.offset-l3
            h4.center Choose One of the Following
            br
            br
            br
            div.col.s12.m4.l4
                    a.button.z-depth-2.white-text.darken-5#tab1(href='/health/health_care_provider?page=drug_data_form') Drug Data
            div.col.s12.m4.l4
                    a.button.white-text.z-depth-2.darken-5#tab2(href='/health/health_care_provider?page=molecule_data_form') Molecule Data
            div.col.s12.m4.l4
                    a.button.white-text.darken-5.z-depth-2#tab3(href='/health/health_care_provider?page=disease_data_form') Disease Data


