doctype html
//
  Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html
    head
        title Page not found
        link(rel='stylesheet', href='css/stylenotfound.css')
        link(href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')
        // For-Mobile-Apps-and-Meta-Tags
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        script(type='application/x-javascript').
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
        // //For-Mobile-Apps-and-Meta-Tags
        //script(src='js/jquery-1.11.1.min.js')
        script(src='https://code.jquery.com/jquery-1.11.1..min.js')

    body
        .main
            .agile
                .agileits_main_grid
                    .agileits_main_grid_left
                        h1 ApniCare
                    .agileits_main_grid_right
                        .menu
                            span.menu-icon

                    .clear
                .w3l
                    .text
                        h1 PAGE NOT FOUND
                        p
                            | You have been tricked into click on a link that can not be found. Please check the url or go to
                            a(href='/') Home page
                            |  and see if you can locate what you are looking for
                    .image
                        img(src='images/smile.png')
                    .clear