doctype  html
html
    head
        body
            h1 image upload page
            form(action='/upload', method='post', enctype='multipart/form-data')
                div
                    label(for='file') Choose file to upload
                    input#file(type='file', name='image', multiple='')
                div
                    button Submit
