doctype html
html
    head
    body
        h1 Enter medicine details
        form(action='/categorieslist', method='POST')
            | Search category :
            input(type='text', name='category')
            br
            | number of password :
            input(type='text', name='password')
            br
            | number of page :
            input(type='text', name='page')
            br
            input(type='submit', name='submit')