div.row
    div.col.s12.m12.l9.offset-l3
        img#drug(src='/images/drugsData.jpg', style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;')
        div.container#diseasedata
            .row
                .col.s12
                    form(name='disease_form', method='POST', onsubmit='return validateForm();', action='#')

                        center
                            h3(style='font-weight:600;') Enter Disease Data
                            span.small_font (All&nbsp
                            span.red-text *&nbsp
                            span.small_font fields are mandatory)

                        div.col.s12.m12.l12
                            span.target1 Disease Name
                            span.red-text &nbsp*
                            input.validate(type='text', id='disease_name' class="r003" style='text-transform:uppercase;' aria-required="true" required="")
                            label(for="disease_name")
                        div.col.s12.m12.l12
                            span.target2 What are its Symptoms?
                            span.red-text &nbsp*
                            //input.val11(style='color:black;font-size: 15px;font-weight: 400;')
                            //div.chips.chips-placeholder#symptoms
                            //textarea.materialize-textarea.text_areas1.tobig.validate#symptoms(class="r003" required)
                            //label(for='symptoms')
                        div.col.s12.m6.l6
                            div.repeater8
                                div
                                    label(for='subhead8')
                                    input.repeat_subhead8.r003.validate#subhead8(type='text', placeholder='Enter Symptoms' required)
                            button.repeat8 Add Symptoms
                            br
                            br

                        div.col.s12.m12.l12
                            span.target3 What are its possible Risk Factors?
                            span.red-text &nbsp*
                            textarea.materialize-textarea.tobig.text_areas2.validate#risk_factors(class="r003" required)
                            label(for='risk_factors')
                            //input.val12(type='text', style='color:black;font-size: 15px;font-weight: 400;')

                        div.col.s12.m12.l12
                            span.target4 What are its Causes?
                            span.red-text &nbsp*
                            textarea.materialize-textarea.tobig.text_areas3.validate#causes(class="r003" required)
                            label(for='causes')
                            //input.val13(type='text', style='color:black;font-size: 15px;font-weight: 400;')
                            br
                        div.col.s12.m12.l12
                            span.target5 How is it Diagnosed?
                            span.red-text &nbsp*
                            br
                        div.col.s12.m12.l12
                            div.repeater1
                                div
                                    input.browser-default.repeat_subhead1.r003.validate#subhead1(type='text', placeholder='Enter a subheading' required)
                                    button.remove x
                                    textarea.materialize-textarea.tobig.text_areas4.text_subhead1.validate#subhead_text1(class="r003" required)
                                    label(for='subhead1')
                                    label(for='subhead_text1')
                            button.repeat1 Add A Subheading
                            br
                            br
                        div.col.s12.m12.l12
                            span.target5 Which Organs does it affect?
                            span.red-text &nbsp*
                            br
                        div.col.s12.m12.l12
                            div.repeater7
                                div
                                    input.browser-default.repeat_subhead7.validate#subheading7(type='text', class="r003", placeholder='Enter a subheading' required)
                                    button.remove x
                                    textarea.materialize-textarea.tobig.text_areas7.text_subhead7.validate#subhead_text7(class="r003" required)
                                    label(for='subheading7', class="r003")
                                    label(for='subhead_text7', class="r003")
                            button.repeat7 Add A Subheading
                            br
                            br
                        div.col.s12.m12.l12
                            span.target6 How is it Treated?
                            span.red-text &nbsp*
                            textarea.tobig.materialize-textarea.text_areas5.validate#treatment(class="r003" required)
                            label(for='treatment')
                            //input.val15(type='text', style='color:black;font-size: 15px;font-weight: 400;')
                        br
                        div.col.s12.m12.l12
                            span.target7 What is the Outlook for it?
                            span.red-text &nbsp*
                            textarea.validate.materialize-textarea.tobig.text_areas6#outlook( class="r003" required)
                            label.validate(for='outlook')
                            //input.val16(type='text', style='color:black;font-size: 15px;font-weight: 400;')
                        br
                        div.col.s12.m12.l12
                            span.target8 How can it be Prevented?
                            span.red-text &nbsp*
                            textarea.materialize-textarea.tobig.text_areas7.validate#prevention(class="r003" required)
                            label.validate(for='prevention')
                            //input.val17(type='text', style='color:black;font-size: 15px;font-weight: 400;')
                        div.col.s12.m12.l12
                            span.target8 Source of Information
                            span.red-text &nbsp*
                            textarea.materialize-textarea.tobig.text_areas8.validate#source(class="r003" required)
                            label(for='source')

                        br
                        div.row
                            div.col.s6.l4.m4
                                input.reset(type='reset')
                            div.col.s6.l4.m4.offset-l4
                                input.button#disease_data_button(type='submit' value='Submit')