footer.page-footer#footer0
    .container
        .row
            .col.l4.s12
                h5.white-text Connect with Us

                //a.btn.btn-default(href="path/to/facebook" aria-label="facebook")

                p.grey-text.text-lighten-4
                img.Uimg(src="/images/f.jpg" height="80" width="50")
                |
                |
                |
                img.Uimg(src="/images/t.png" height="80" width="50")
                |
                |
                |
                img.Uimg(src="/images/in.jpg" height="80" width="50")
                |
            .col.l8.s12.right
                h5.white-text Download our app
                p.grey-text.text-lighten-4
                img.Uimg(src="/images/playstore.jpg" height="100")
                img.Uimg(src="/images/appstore.jpg" height="100")


    .footer-copyright#footer5

footer.page-footer#footer1
    .container
        .row
            .col.l4.s12
                h5.white-text Company Information
                p.grey-text.text-lighten-4
                ul
                    li
                        a.grey-text.text-lighten-3(href='/health') - About ApniCare
                    li
                        a.grey-text.text-lighten-3(href='/health') - Careers
                    li
                        a.grey-text.text-lighten-3(href='/health') - News & Reports
            .col.l4.s12
                br
                br
                p.grey-text.text-lighten-4
                    ul
                        li
                            a.grey-text.text-lighten-3(href='/health') - Terms & Condition
                        li
                            a.grey-text.text-lighten-3(href='/health') - Privacy Policy
                        li
                            a.grey-text.text-lighten-3(href='/health') - Contact Us



            .col.l4.s12
                h5.white-text Your ApniCare Account
                p.grey-text.text-lighten-4
                ul
                    li
                        a.grey-text.text-lighten-3(href='/health') - SignUp/Login
                    li
                        a.grey-text.text-lighten-3(href='/health') - Your Profile
                    li
                        a.grey-text.text-lighten-3(href='/health') - HealthCare Providers
                    li
                        a.grey-text.text-lighten-3(href='/health') - Refer your Friend
    .footer-copyright#footer4
footer.page-footer#footer2
    .container
        .row
            .col.l8.s12.m
                h5#h5.white-text Drug Categories
                .col.l6.s12
                    .grey-text.text-lighten-4
                        ul
                            li
                                a.grey-text.text-lighten-3(href='/health') - Analgesics
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Allergic
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Bacterial
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Diabetic
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Gout
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Microbial
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Migraine
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Neoplastic
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Rheumatic
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Sera & Immune Globulins
                .col.l6.s12
                    .grey-text.text-lighten-4
                        ul
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-TuberCular
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Viral
                            li
                                a.grey-text.text-lighten-3(href='/health') - Antidotes
                            li
                                a.grey-text.text-lighten-3(href='/health') - Antacids
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Pyretic
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Psychotics
                            li
                                a.grey-text.text-lighten-3(href='/health') - Anti-Depressants
                            li
                                a.grey-text.text-lighten-3(href='/health') - Vaccines
                            li
                                a.grey-text.text-lighten-3(href='/health') - Vitamins
                            li
                                a.grey-text.text-lighten-3(href='/health') - Miscellaneous Drugs
            .col.l4.s12
                h5.white-text Disease & Conditions
                p.grey-text.text-lighten-4
                    ul
                        li
                            a.grey-text.text-lighten-3(href='/health') - Diabetes
                        li
                            a.grey-text.text-lighten-3(href='/health') - Hypertension
                        li
                            a.grey-text.text-lighten-3(href='/health') - Malaria
                        li
                            a.grey-text.text-lighten-3(href='/health') - Dengue
                        li
                            a.grey-text.text-lighten-3(href='/health') - Pheumonia
                        li
                            a.grey-text.text-lighten-3(href='/health') - Constipatioh
                        li
                            a.grey-text.text-lighten-3(href='/health') - Headache
                        li
                            a.grey-text.text-lighten-3(href='/health') - Rabies
                        li
                            a.grey-text.text-lighten-3(href='/health') - Tuberculosis(TB)
                        li
                            a.grey-text.text-lighten-3(href='/health') - Asthma
                        li
                            a.grey-text.text-lighten-3(href='/health') - Migraine
                        li
                            a.grey-text.text-lighten-3(href='/health') - Rheumatoid


    .footer-copyright#footer3
        .container
            p.p1.center Made in India
            //img.center(src="/images/az.png" height="50px" width="100px")
            a.center(href='/homes?page=profilePage')
                //img.center(src="/images/az.png" height="50px" width="100px")
                p.center.p1 ApniCare.com
            p.p1.center Copyright © 2017 SBEPL All right reaserved



