div.row
    div.col.s12.m12.l9.offset-l3
        img#drug(src='/images/drugsData.jpg', style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;')
        div#drugdata
            .col.s12.m12.l11
                center
                    h2(style='font-weight:600;') Molecule Data

                    a.btn.waves-effect.waves-light.white-text.hoverable(href='/health/health_care_provider?page=molecule_data_form' style='background-color:#660099; position:absolute;right:50px;') Contribute
                br
                br

                div.row
                    div.drug_alphabets.pull-left
                        span.center
                            ul
                                li
                                    a.btn2.hoverable(href='#' type='all') All
                                li
                                    a.btn2.hoverable(href='#') A
                                li
                                    a.btn2.hoverable(href='#') B
                                li
                                    a.btn2.hoverable(href='#') C
                                li
                                    a.btn2.hoverable(href='#') D
                                li
                                    a.btn2.hoverable(href='#') E
                                li
                                    a.btn2.hoverable(href='#') F
                                li
                                    a.btn2.hoverable(href='#') G
                                li
                                    a.btn2.hoverable(href='#') H
                                li
                                    a.btn2.hoverable(href='#') I
                                li
                                    a.btn2.hoverable(href='#') J
                                li
                                    a.btn2.hoverable(href='#') K
                                li
                                    a.btn2.hoverable(href='#') L
                                li
                                    a.btn2.hoverable(href='#') M
                                li
                                    a.btn2.hoverable(href='#') N
                                li
                                    a.btn2.hoverable(href='#') O
                                li
                                    a.btn2.hoverable(href='#') P
                                li
                                    a.btn2.hoverable(href='#') Q
                                li
                                    a.btn2.hoverable(href='#') R
                                li
                                    a.btn2.hoverable(href='#') S
                                li
                                    a.btn2.hoverable(href='#') T
                                li
                                    a.btn2.hoverable(href='#') U
                                li
                                    a.btn2.hoverable(href='#') V
                                li
                                    a.btn2.hoverable(href='#') W
                                li
                                    a.btn2.hoverable(href='#') X
                                li
                                    a.btn2.hoverable(href='#') Y
                                li
                                    a.btn2.hoverable(href='#') Z
                                li
                                    a.btn2.all.hoverable(href='#' type='other') Other


                div#drug_lists.grey.lighten-2(style='padding: 10px')
                    div.row
                        div.col.s12.m12.l12
                            div.four-cols
                                .brands
                                    each val in data
                                        //a(href="/go_to_dosage?molecule=" + val.molecule_name) #{val.molecule_name}
                                        h5(name=val.molecule_name, style="width: 228px;margin-top: 0px;")
                                            a.to_capital(href='/health/health_care_provider?molecule=' + val.molecule_name) #{val.molecule_name}



