div.row
    div.col.s12.m12.l9.offset-l3
        center
            h3.center Notifications
            i.material-icons.large.center notifications_off
            p.darkgrey-text You have no Notifications yet



