nav(style="background-color: #660099; margin-left: 230px")
    div.nav-wrapper

        a.button-collapse#menubar.top-nav.hide-on-large-only(data-activates='side_navbar')
            i.fa.fa-bars.fa-2x

        a.brand-logo.center-on-small-only.hide-on-large-only(href='/health') ApniCare

        ul.right.hide-on-med-and-down
            li
                //div.col.s4.m4.l4.offset-l2.offset-m1.offset-s1
                a.btn.btn-flat.white-text(href='#' data-balloon-pos="down" data-balloon="Notifications" data-delay="50" style="background-color: #660099")
                    i.material-icons.large(style="font-size: 35px") notifications
            li
                a.btn.btn-flat.white-text(href='#' data-balloon="Profile" data-balloon-pos="down" data-delay="50" style="background-color: #660099")
                    i.material-icons.large(style="font-size: 35px") person
div.row
    div.col.s12
        ul.tabs
            li.tab.active.col.s3.offset-s3#tab1
                a(href='#profile1') Health care: Register
            li.tab.active.col.s3#tab2
                a(href='#profile2') Health care: Doctor
            li.tab.active.col.s3#tab3
                a(href='#profile3') Health care: Profile

    div.collection#profile1
        div.row
            div.col.s8.m8.l8.offset-l3.offset-m2.offset-s2
                h3.center Help Us to Know You More
        div.row
            div.col.offset-s2.offset-l5.offset-m3
                div.card.grey.lighten-1.hoverable(style="width: 70px, height: 70px")#doctor_card
                    div.card-title
                        a.black-text(href='#profile2')
                            i.fa.fa-user-md(style="font-size: 120px")
                span Doctor
            div.col.offset-s2.offset-l1.offset-m2
                div.card.grey.lighten-1.hoverable(style="width: 100px, height: 100px")
                    div.card-title.center
                        a.black-text(href='#profile3')
                            i.fa.fa-medkit(style="font-size: 120px")
                span Pharmacist

    div.collection#profile2
        div.row
            div.col.s8.m8.l8.offset-l3.offset-m2.offset-s2
                h3.center Enter Your Details
        div.row
            div.col.s6.m6.l6.offset-l4.offset-m2.offset-s2
                .input-field
                    input(type='text')#name
                    label(for="name") Name
                .input-field
                    input(type='text')#specialization
                    label(for="specialization") Specialization
                .input-field
                    input(type="text")#city
                    label(for="city") City
        div.row
            div.col.s8.m8.l8.offset-l4.offset-m2.offset-s2
                a.waves-effect.btn.purple.white-text(href="/health/?page=home_sideNav")#submit_profile Create Profile


    div.collection#main_profile
        div.collection-item.dismissable
            div.row
                p Dr. #{name}
                | Profile is not complete yet
        div.collection-item.dismissable
            div.row
                p Profile Completeness
                div#test-slider
        div.collection-item
            div.row
                div.col.s12.m5.l4
                    a(href='#') Basic Details
                    br
                    a(href='#') Education & Specialization
                    br
                    a(href='#') Registration & Documents
                div.col.m7.l8.s12
                    h3 Personal Details
                    div.input-field.col.s12.m6.l6
                        input.disabled#title(type='text' value='Dr.')
                        label Title
                    div.input-field.col.s12.m6.l6
                        input.disabled#name_disabled(type="text" value='#{name}')
                        label(for='name_disabled') Name
                    div.col.s12.m5.l5#gender
                        p.bold Gender:
                            br
                            span
                                input.with-gap#male.selected(type='radio' name='gender')
                                label(for='male') Male

                            span
                                input.with-gap#female.selected(type='radio' name='gender')
                                label(for='female') Female
                    div.input-field.col.s12.m3.l3
                        input#cityName(type='text')
                        label(for='cityName') City
                    div.input-field.col.s12.m4.l4
                        input#yearsExperience(type='text')
                        label(for='yearsExperience') Years of Experience
                    div.input-field.col.s12.m12.l12
                        textarea.materialize-textarea#about_you
                        label(for='about_you') About You
        div.collection-item
            h3 Contact Details
            div.row
                div.input-field.col.s6.m6.l6
                    input#mobNo(type='text' value='#{number}')
                    label(for='mobNo') Mobile Number
                div.col.s6.m6.l6
                    i.material-icons.teal-text.lighten-2 done
                    label Verified
            div.row
                div.input-field.col.s6.m6.l6
                    input#email(type='email')
                    label(for='email')
                div.col.s6.l6.m6
                    i.material-icons.teal-text.lighten-2 close
                    span
                    label Not Verified
