//REGISTERED SO FAR
div.collection
    div.row
        div.col.s12.m12.l12
            div.card.blue.lighten-2
                div.card-content.white-text
                    span.card-title <b>Registered So Far</b>
                    div.row
                        div.col.s12.m2.l2
                            p Users
                            span -----
                        div.col.s12.m2.l2
                            p Doctors
                            p -----
                        div.col.s12.m2.l2
                            p Labs
                            p -----
                        div.col.s12.m2.l2
                            p Hospitals
                            p -----
                        div.col.s12.m2.l2
                            p Blood Banks
                            p -----
