//---------------------for login------------------------------------------------
div.row.login
    br
    br
    div.row#login(style={padding: "0px",margin:"0px",background:"white"})
        div.input-field.col.s12.m12.l12
            input.required.black-text(type="text")#number2
            label(for="number2") Number
        div.input-field.col.s12.m12.l12
            input.black-text(type="password")#password2
            a(title="forgot Password")
                span.right#forgotButton Forgot?
            label.required(for="password2") Password
        div.col.s12.m12.l12
            br

            input(type="checkbox")#check2
            label(for="check2") show password
            br
            br
            //------------------------------login button-------------------------------------------------------------------------------------
    div.row.center
        br
        br
        a.waves-effect.waves-purple.btn.hoverable.mediumpurple(title="click to Login for user" style={width:"80%"})#loginButton1 Login
        br
        a.waves-effect.waves-purple.hoverable.btn(title="click to register for new user" style={width:"80%"})#NewtoApniCare New to ApniCare?Sign Up







