DOCTYPE
html
    head
        title ApniCare-About Us
    body
        h1 Our Inspiration & Mission
        p If you allow your pain to rule your life, it makes you mess.
        p Mess always needs inspiration to move out.
        p We are inspired from mother’s pain, who always works for our health and care. We are working to spread more and more information about health and wellness products, drugs, diseases, and all care & healthcare services to decrease pain of our loved ones.
        p Focused to provide care in hand and get a reach to every care service near you and your loved ones.

        h1 Our Team

        p Meet our team! We are power pack of young blood from Pharmacy profession to Technical expertise.