doctype html
html
    head
        title ApniCare-FAQs
    body
        div(style='padding-right:20px;padding-left:20px;')
            h1 FAQs
            li
                strong What Apni Care Does?
            p
                | Apni Care connects you to a registered Doctor and healthcare services according to your financial condition.
            p You instantly book a doctor appointment and meet him according to your need.
            p You know you medicine or disease through our database easily.
            li
                strong Is it safe to book an appointment online?
            p
                | Yes, your data is 100% safe through our SSL secured site with different encryptions.
            li
                strong Is there an option of online payment?
            p
                | Yes, off course you pay through our wide range of options of payment such as credit card, debit card, net banking, wallets, BHIM UPI.
            li
                strong If I cancel doctor appointment, will I get my money back or not?
            p Yes, your 100% Money is refunded.
            li
                strong How do I know Doctor is in Clinic?
            p A green bar in doctor profile shows doctor is in clinic.
            li
                strong I reschedule my appointment or not?
            p
                | Yes, you reschedule your appointment with no question asked policy
