doctype html
html
    head
        title ApniCare-Open Source License
    body
        div(style='padding-left:20px;padding-right:20px;')
            h1 CircleImageView
            a(href='https://github.com/hdodenhof/CircleImageView') https://github.com/hdodenhof/CircleImageView
            p
                strong Copyright 2014 - 2017 Henning Dodenhof
            p
                | Licensed under the Apache License, Version 2.0 (the "License");
                | you may not use this file except in compliance with the License.
                | You may obtain a copy of the License at
            a(href='http://www.apache.org/licenses/LICENSE-2.0') http://www.apache.org/licenses/LICENSE-2.0
            p
                | Unless required by applicable law or agreed to in writing, software
                | distributed under the License is distributed on an "AS IS" BASIS,
                | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
                | See the License for the specific language governing permissions and
                | limitations under the License.
            h1
                | Volley
            a(href='https://github.com/google/volley') https://github.com/google/volley
            p
                | Volley is an HTTP library that makes networking for Android apps easier and, most importantly, faster.
            h1
                | MaterialNumberPicker
            a(href='https://github.com/KasualBusiness/MaterialNumberPicker') https://github.com/KasualBusiness/MaterialNumberPicker
            p
                strong Copyright 2015 Kasual Business.
            p
                | Licensed under the Apache License, Version 2.0 (the "License");
                | you may not use this file except in compliance with the License.
                | You may obtain a copy of the License at
            a(href='http://www.apache.org/licenses/LICENSE-2.0') http://www.apache.org/licenses/LICENSE-2.0
            p
                | Unless required by applicable law or agreed to in writing, software
                | distributed under the License is distributed on an "AS IS" BASIS,
                | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
                | See the License for the specific language governing permissions and
                | limitations under the License.
