doctype html
html
    head
        title ApniCare-Terms And Conditions
    body
        div(style='padding-right:20px;padding-left:20px;')
            p
                | Welcome to
                a(href='www.apnicare.com') www.apnicare.com
                | ("Apnicare.com", "Apnicare", "Website", Mobile application "Pharmacy", or "we"). This Website/ Mobile application is owned and operated by Soni Brothers Ecom Pvt. Ltd., whose registered office is in Ghaziabad, India. Apni Care owns and operates the services provided through the Website.
            p
                | The following are the Terms and Conditions, read together with the Privacy Policy, that govern use of the products and services (the "Products") from Apnicare.com, and constitute a legally binding agreement, between you ("the Customer", the "User" or "the Caregiver") and Apnicare.com.
            li
                strong 1.NATURE AND APPLICABILITY OF TERMS
            p
                | Please carefully go through these terms and conditions
                strong (Terms)
                | and the privacy policy available at
                a(href='https://www.apnicare.com/company/privacy') https://www.apnicare.com/company/privacy
                | &nbsp
                strong (Privacy Policy)
                |  before you decide to access the Website or avail the services made available on the Website by Apnicare. These Terms and the Privacy Policy together constitute a legal agreement(Agreement)between you and Apnicare in connection with your visit to the Website and your use of the Services (as defined below).
            p The Agreement applies to you whether you are -
            li
                | A medical practitioner or health care provider (whether an individual professional or an organization) or similar institution wishing to be listed, or already listed, on the Website, including designated, authorized associates of such practitioners or institutions&nbsp
                strong (Practitioner(s), you or User);
                | &nbspor
            li
                | A patient, his/her representatives or affiliates, searching for Practitioners through the Website
                strong (End-User, you or User);
                | or
            | Otherwise a user of the Website
            strong (you or User)
            | .
            | This Agreement applies to those services made available by Apnicare on the Website, which are offered free of charge to the Users
            strong (Services)
            | , including the following:
            li
                | For Practitioners: Listing of Practitioners and their profiles and contact details, to be made available to the other Users and visitors to the Website;
            li
                | For other Users: Facility to (i) create and maintain Health Accounts, (ii) search for Practitioners by name, specialty, and geographical area, or any other criteria that may be developed and made available by Apnicare, and (iii) to make appointments with Practitioners.
            p
                | The Services may change from time to time, at the sole discretion of Apnicare, and the Agreement will apply to your visit to and your use of the Website to avail the Service, as well as to all information provided by you on the Website at any given point in time.
            p
                | This Agreement defines the terms and conditions under which you are allowed to use the Website and describes the manner in which we shall treat your account while you are registered as a member with us. If you have any questions about any part of the Agreement, feel free to contact us at support@apnicare.com.
            p
                | By downloading or accessing the Website to use the Services, you irrevocably accept all the conditions stipulated in this Agreement, the
                a(href='www.apnicare.com') Subscription Terms of Service
                | and
                a(href='www.apnicare.com') Privacy Policy
                | , as available on the Website, and agree to abide by them. This Agreement supersedes all previous oral and written terms and conditions (if any) communicated to you relating to your use of the Website to avail the Services. By availing any Service, you signify your acceptance of the terms of this Agreement.
            p
                | We reserve the right to modify or terminate any portion of the Agreement for any reason and at any time, and such modifications	 shall be informed to you in writing You should read the Agreement at regular intervals. Your use of the Website following any such modification constitutes your agreement to follow and be bound by the Agreement so modified.
            p
                | You acknowledge that you will be bound by this Agreement for availing any of the Services offered by us. If you do not agree with any part of the Agreement, please do not use the Website or avail any Services.
            p
                | Your access to use of the Website and the Services will be solely at the discretion of Apnicare.
            p
                | The Agreement is published in compliance of, and is governed by the provisions of Indian law, including but not limited to:
            li the Indian Contract Act, 1872,
            li the (Indian) Information Technology Act, 2000, and
            li
                | the rules, regulations, guidelines and clarifications framed there under, including the (Indian) Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Information) Rules, 2011 (the
                strong "SPI Rules
                | ), and the (Indian) Information Technology (Intermediaries Guidelines) Rules, 2011 (the
                strong IG Rules
                | ).
            br
            li
                strong 2.CONDITIONS OF USE
            p
                | You must be 18 years of age or older to register, use the Services, or visit or use the Website in any manner. By registering, visiting and using the Website or accepting this Agreement, you represent and warrant to Apnicare that you are 18 years of age or older, and that you have the right, authority and capacity to use the Website and the Services available through the Website, and agree to and abide by this Agreement.
            li
                strong 3.TERMS OF USE APPLICABLE TO ALL USERS OTHER THAN PRACTITIONERS
            p
                | The terms in this Clause 3 are applicable only to Users other than Practitioners.
            li
                strong 3.1
                | END-USER ACCOUNT AND DATA PRIVACY
            br
            li
                strong 3.1.1
                | The terms personal information and sensitive personal data or information are defined under the SPI Rules, and are reproduced in the Privacy Policy.
            li
                strong
                    | 3.1.2Apnicare may by its Services, collect information relating to the devices through which you access the Website, and anonymous data of your usage. The collected information will be used only for improving the quality of Apnicares services and to build new services.
            li
                strong 3.1.3
                | The Website allows Apnicare to have access to registered Users personal email or phone number, for communication purpose so as to provide you a better way of booking appointments and for obtaining feedback in relation to the Practitioners and their practice.
            li
                strong 3.1.4
                | The Privacy Policy sets out,
                em inter-alia:
            li
                | The type of information collected from Users, including sensitive personal data or information;
            li The purpose, means and modes of usage of such information;
            li How and to whom Apnicare will disclose such information; and,
            li Other information mandated by the SPI Rules.
            li
                strong 3.1.5
                | The User is expected to read and understand the Privacy Policy, so as to ensure that he or she has the knowledge of,
                em inter-alia
                | :
            li the fact that certain information is being collected;
            li the purpose for which the information is being collected;
            li the intended recipients of the information;
            li the nature of collection and retention of the information; and
            li
                | the name and address of the agency that is collecting the information and the agency that will retain the information; and
            li the various rights available to such Users in respect of such information.
            li
                strong 3.1.6
                | &nbspApnicare shall not be responsible in any manner for the authenticity of the personal information or sensitive personal data or information supplied by the User to Apnicare or to any other person acting on behalf of Apnicare.
            li
                strong 3.1.7
                | The User is responsible for maintaining the confidentiality of the Users account access information and password, if the User is registered on the Website. The User shall be responsible for all usage of the Users account and password, whether or not authorized by the User. The User shall immediately notify Apnicare of any actual or suspected unauthorized use of the Users account or password. Although Apnicare will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of Apnicare or such other parties as the case may be, due to any unauthorized use of your account.
            li
                strong 3.1.8
                | If a User provides any information that is untrue, inaccurate, not current or incomplete (or becomes untrue, inaccurate, not current or incomplete), or Apnicare has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Apnicare has the right to discontinue the Services to the User at its sole discretion.
            li
                strong 3.1.9
                | Apnicare may use such information collected from the Users from time to time for the purposes of debugging customer support related issues.
            li
                strong 3.1.10
                | Against every Practitioner listed in Apnicare.com, you may see a show number option. When you choose this option, you choose to call the number through a free telephony service provided by Apnicare, and the records of such calls are recorded and stored in Apnicares servers. Such records are dealt with only in accordance with the terms of the Privacy Policy. Such call facility provided to you by Apnicare should be used only for appointment and booking purposes, and not for consultation on health-related issues. Apnicare accepts no liability if the call facility is not used in accordance with the foregoing.
            br
            li
                strong 3.2
                | RELEVANCE ALGORITHM
            p
                | Apnicares relevance algorithm for the Practitioners is a fully automated system that lists the Practitioners, their profile and information regarding their Practice on its Website. These listings of Practitioners do not represent any fixed objective ranking or endorsement by Apnicare. Apnicare will not be liable for any change in the relevance of the Practitioners on search results, which may take place from time to time. The listing of Practitioners will be based on automated computation of the various factors including inputs made by the Users including their comments and feedback. Such factors may change from time to time, in order to improve the listing algorithm. Apnicare in no event will be held responsible for the accuracy and the relevancy of the listing order of the Practitioners on the Website.
            li
                strong 3.3
                | LISTING CONTENT AND DISSEMINATING INFORMATION
            br
            li
                strong 3.3.1
                | Apnicare collects, directly or indirectly, and displays on the Website, relevant information regarding the profile and practice of the Practitioners listed on the Website, such as their specialization, qualification, fees, location, visiting hours, and similar details. Apnicare takes reasonable efforts to ensure that such information is updated at frequent intervals. Although Apnicare screens and vets the information and photos submitted by the Practitioners, it cannot be held liable for any inaccuracies or incompleteness represented from it, despite such reasonable efforts.
            li
                strong 3.3.2
                | The Services provided by Apnicare or any of its licensors or service providers are provided on an "as is" and as available basis, and without any warranties or conditions (express or implied, including the implied warranties of merchantability, accuracy, fitness for a particular purpose, title and non-infringement, arising by statute or otherwise in law or from a course of dealing or usage or trade). Apnicare does not provide or make any representation, warranty or guarantee, express or implied about the Website or the Services. Apnicare does not guarantee the accuracy or completeness of any content or information provided by Users on the Website. To the fullest extent permitted by law, Apnicare disclaims all liability arising out of the Users use or reliance upon the Website, the Services, representations and warranties made by other Users, the content or information provided by the Users on the Website, or any opinion or suggestion given or expressed by Apnicare or any User in relation to any User or services provided by such User.
            li
                strong 3.3.3
                | The Website may be linked to the website of third parties, affiliates and business partners. Apnicare has no control over, and not liable or responsible for content, accuracy, validity, reliability, quality of such websites or made available by/through our Website. Inclusion of any link on the Website does not imply that Apnicare endorses the linked site. User may use the links and these services at Users own risk.
            li
                strong 3.3.4
                | Apnicare assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect Users equipment on account of Users access to, use of, or browsing the Website or the downloading of any material, data, text, images, video content, or audio content from the Website. If a User is dissatisfied with the Website, Users sole remedy is to discontinue using the Website.
            li
                strong 3.3.5
                | If Apnicare determines that you have provided fraudulent, inaccurate, or incomplete information, including through feedback, Apnicare reserves the right to immediately suspend your access to the Website or any of your accounts with Apnicare and makes such declaration on the website alongside your name/your clinics name as determined by Apnicare for the protection of its business and in the interests of Users. You shall be liable to indemnify Apnicare for any losses incurred as a result of your misrepresentations or fraudulent feedback that has adversely affected Apnicare or its Users.
            br
            li
                strong 3.4
                | BOOK APPOINTMENT AND CALL FACILITY
            p
                | Apnicare enables Users to connect with Practitioners through two methods: a) Book facility that allows Users book an appointment through the Website; b) Value added telephonic services which connect Users directly to the Practitioners number provided on the Website.
            li
                strong 3.4.1
                | Apnicare will ensure Users are provided confirmed appointment on the Book facility. However, Apnicare has no liability if such an appointment is later cancelled by the Practitioner, or the same Practitioner is not available for appointment. Provided, it does not fall under the heads listed under the
                a Apnicare Guarantee Program
                | , in which case the terms of this program shall apply.
            li
                strong 3.4.2
                | If a User has utilized the telephonic services, Apnicare reserves the right to share the information provided by the User with the Practitioner and store such information and/or conversation of the User with the Practitioner, in accordance with our
                a(href='www.apnicare.com') Privacy Policy
                | .
            li
                strong 3.4.3
                | The results of any search Users perform on the Website for Practitioners should not be construed as an endorsement by Apnicare of any such particular Practitioner. If the User decides to engage with a Practitioner to seek medical services, the User shall be doing so at his/her own risk.
            li
                strong 3.4.4
                | Without prejudice to the generality of the above, Apnicare is not involved in providing any healthcare or medical advice or diagnosis and hence is not responsible for any interactions between User and the Practitioner. User understands and agrees that Apnicare will not be liable for:
            li User interactions and associated issues User has with the Practitioner;
            li
                | the ability or intent of the Practitioner(s) or the lack of it, in fulfilling their obligations towards Users;
            li
                | any wrong medication or quality of treatment being given by the Practitioner(s), or any medical negligence on part of the Practitioner(s);
            li
                | inappropriate treatment, or similar difficulties or any type of inconvenience suffered by the User due to a failure on the part of the Practitioner to provide agreed Services;
            li
                | any misconduct or inappropriate behaviour by the Practitioner or the Practitioners staff;
            li
                | cancellation or no show by the Practitioner or rescheduling of booked appointment or any variation in the fees charged, provided these have been addressed to under,
                a Apnicare Guarantee Program
                | .
            li
                strong 3.4.5
                | Users are allowed to provide feedback about their experiences with the Practitioner, however, the User shall ensure that, the same is provided in accordance with applicable law. User however understands that, Apnicare shall not be obliged to act in such manner as may be required to give effect to the content of Users feedback, such as suggestions for delisting of a particular Practitioner from the Website.
            li
                strong 3.4.6
                | In case of a Patient-No-Show (P.N.S) (defined below), where the User does not show-up at the concerned Practitioners clinic:
            li
                | Users account will be temporarily disabled from booking further online appointments on Apnicare.com for next four (4) months, in case of, three(3) Valid PNS, as per the
                a(href='www.apnicare.com') Patient-No-Show Policy
                | . However, the User can continue to call the clinic via Apnicare.com to get an appointment.
            li
                | Patient- No-Show (P.N.S) for the purposes of these Terms and Conditions, is defined as, any instance where a User, who booked an appointment on the Website using the Book Appointment facility , has not turned up for the appointment without cancelling, rescheduling, or informing the Practitioner in advance about the same. When Practitioner informs Apnicare of the incident or marks a particular appointment as P.N.S. using the Apnicare Ray software or Apnicare Pro App within five (5) days of the scheduled appointment, an email and SMS (PNS Communication) will be sent to the User to confirm on the incident with reasons. Where the User is not able to establish that the User had a legitimate reason as per Clause 3.4.6(c), for not showing up, Apnicare shall be entitled to take actions as under Clause 3.4.6 (a). However Users understand that, actions such as ones mentioned under Clause 3.4.6(a) are included as a deterrent to stop Users from misusing the Website, and the loss of business hours incurred by the Practitioner.
            li
                | Following instances, solely at the discretion of Apnicare, would be construed as valid cases of PNS (Valid PNS), in which case the User shall be penalized as per Clause 3.4.6 (a):
            li
                | User does not reply within seven (7) days, with reasons to PNS Communication, from the date of receipt of such PNS Communication;
            li In case User responds to the PNS Communication with below reasons:
            li Forgot the appointment
            li Chose to visit another Practitioner/consulted online;
            li
                | Busy with other work; or such other reasons (which Apnicare at its discretion decides to be a valid reason to not show up).
            li
                | Where the User has booked a paid appointment and is unable to visit the Practitioner, due to such genuine reasons of sickness etc. at the sole discretion of Apnicare, pursuant to conducting of investigation, the User shall be provided with a refund of such payment made by User, at the time of booking. However, where cancellation charges have been levied, you would not be entitled to complete refund.
            li
                | Apnicare reserves the right to make the final decision in case of a conflict. The total aggregate liability of Apnicare with respect to any claims made herein shall be INR 200.
            li
                strong 3.4.7
                | Cancellation and Refund Policy
            li
                | In the event that, the Practitioner with whom User has booked a paid appointment via the Website, has not been able to meet the User, User will need to write to us at support@Apnicare.com within five (5) days from the occurrence of such event; in which case, the entire consultation amount as mentioned on the Website will be refunded to the User within the next five (5) to six (6) business days in the original mode of payment done by the User while booking. In case where the User, does not show up for the appointment booked with a Practitioner, without cancelling the appointment beforehand, the amount will not be refunded, and treated as under Clause 3.4.6. However, where cancellation charges have been levied (as charged by the Practitioner/Practice), you would not be entitled to complete refund even if you have cancelled beforehand.
            li
                | Users will not be entitled for any refunds in cases where, the Practitioner is unable to meet the User at the exact time of the scheduled appointment time and the User is required to wait, irrespective of the fact whether the User is required to wait or choose to not obtain the medical services from the said Practitioner.
            br
            li
                strong 3.5
                | NO DOCTOR-PATIENT RELATIONSHIP; NOT FOR EMERGENCY USE
            br
            li
                strong 3.5.1
                | Please note that some of the content, text, data, graphics, images, information, suggestions, guidance, and other material (collectively, Information) that may be available on the Website (including information provided in direct response to your questions or postings) may be provided by individuals in the medical profession. The provision of such Information does not create a licensed medical professional/patient relationship, between Apnicare and you and does not constitute an opinion, medical advice, or diagnosis or treatment of any particular condition, but is only provided to assist you with locating appropriate medical care from a qualified practitioner.
            li
                strong 3.5.2
                | It is hereby expressly clarified that, the Information that you obtain or receive from Apnicare, and its employees, contractors, partners, sponsors, advertisers, licensors or otherwise on the Website is for informational purposes only. We make no guarantees, representations or warranties, whether expressed or implied, with respect to professional qualifications, quality of work, expertise or other information provided on the Website. In no event shall we be liable to you or anyone else for any decision made or action taken by you in reliance on such information.
            li
                strong 3.5.3
                | The Services are not intended to be a substitute for getting in touch with emergency healthcare. If you are an End-User facing a medical emergency (either on your or a another persons behalf), please contact an ambulance service or hospital directly.
            br
            li
                strong 3.6
                | APNICARE CONSULT
            br
            li
                strong 3.6.1
                | Definition.
            p
                | Apnicare's Consult is a feature owned and provided by Apnicare that allows Users & Practitioners to communicate, either on unpaid mode or on paid mode, depending on the option chosen by the User. Further, Users may access this feature on Apnicares platform to get assigned, for the purposes of consultation, to a Practitioner whereby such Practitioners are, by default, assigned through the systems algorithm/software-program that finds the most available and accepting Practitioner or Users may choose Practitioners of choice through the search options made available on Apnicares Website. The scope of this feature as detailed herein is collectively referred to as "Consult".
            li
                strong 3.6.2
                | Terms for Users:
            p
                | The Users expressly understand, acknowledge and agree to the following set forth herein below:
            li
                | In the event the Users intend to consult a specific Practitioner of choice, the same is facilitated through search options as made available on Apnicares Website. In cases where Users cannot choose a Practitioner (due to system setup), the system uses an algorithm/software-program to find the most available and accepting Practitioner.
            li
                | In case any prescription is being provided to User by the Practitioner, the same is being provided basis the online consultation, however it may vary when examined in person, hence in no event shall the prescription provided by Practitioners be relied as a final and conclusive solution.
            li
                | During the consultation and thereafter, the Practitioner may upload the prescription/health records of the User on the account of the User for access of the User.
            li
                | Notwithstanding anything contained herein, Apnicare in no manner endorses any Practitioner(s) that Users consult and is not in any manner responsible for any drug/medicines prescribed or the therapy prescribed by the Practitioner.
            li
                | If Practitioner responds to the Users query, the system could trigger communications to the User, in the form of notification/text/email/others. The User further understands that Apnicare may send such communications like text messages/email/calls before and/or after Practitioners consultation (physical or online) to Users mobile number which is provided by Practitioner, based on the Practitioners settings. However and notwithstanding anything to the contrary in this Agreement, Apnicare does not take responsibility for timeliness of such communications.
            li
                | Consult, is merely a consulting model, any interactions and associated issues with the Practitioner on Consult including but not limited to the Users health issues and/or the Users experiences is strictly between the User and the Practitioner. The User shall not hold Apnicare responsible for any such interactions and associated issues.
            li
                | The User hereby grants consent to Apnicare to feature certain of Users queries posted free of cost and respective Practitioners responses as posted by the User on Apnicare Consult. Users further agree that any such information provided by the User will be subject to Apnicare Privacy Policy.
            li
                | There is a follow-up feature that is made available on one of Apnicares product  Apnicare Doc., through which the Practitioner can notify the User of a follow-up facility that is available post their in-person consultation. The Practitioner can define the duration and limit of messages that are available to the User for free. When the User starts the follow-up, a chat window opens up for consultation with the Practitioner for a certain period (set by the Practitioner) without having to make any payment. Upon expiry, an option to pay and restart option is available to the User. This enables the User to pay and initiate a paid consultation with the Practitioner.
            li
                | Any conversations that the Users have had with the Practitioner will be retained in Apnicare database as per the applicable laws and subject to confidentiality.
            li
                | User understands and agrees to provide accurate information, and will not use this platform for any acts that are considered to be illegal in nature.
            li
                | If User decides to engage with a Practitioner to procure medical services or engages in communication, exchange of money for services outside of Consult platform, User shall do so at their own risk. Apnicare shall not be responsible for any breach of service or service deficiency by any Practitioner.
            li
                | If User decides to use the payment gateway to make payments online, it is solely at User's discretion. Should there be any issues with regard to the payment not reaching the respective Practitioners account, please reach out to
                a(href='support@apnicare.com') support@apnicare.com
                | .
            li
                strong 3.6.3
                | Cancellation and Refund Policy:
            li
                | For cancellation and refund policy,
                a(href='www.apnicare.com') read more
                | .
            li
                strong 3.6.4
                | Express Disclaimers:
            li
                | Consult is intended for general purposes only and is not meant to be used in emergencies/serious illnesses requiring physical consultation. Further, if the Practitioner adjudges that a physical examination would be required and advises in-person consultation, it is the sole responsibility of the User, to book an appointment for physical examination and in-person consultation whether the same is with the Practitioner listed on the Website or otherwise. In case of any negligence on the part of the User in acting on the same and the condition of the User deteriorates, Apnicare shall not be held liable.
            li
                | Apnicare is not a medical service provider, nor is it involved in providing any healthcare or medical advice or diagnosis, it shall hence not be responsible and owns no liability to either Users or Practitioners for any outcome from the consultation between the User and the Practitioner.
            li
                | Consult is a platform being made available to Users to assist them to obtain consultation from Practitioners and does not intend to replace the physical consultation with the Practitioner.
            li
                strong 3.6.5
                | Terms for Practitioners:
            li
                | The Practitioner shall promptly reply to the User after receiving Users communication. In case of non-compliance with regard to adhering to the applicable laws/rules/regulations/guidelines by the Practitioner, Apnicare shall have the right to replace such Practitioners for the purpose of consultation to the User or remove such Practitioners from the platform/Apnicare application/site; Read more on guidelines
                a(href='www.apnicare.com') here
                | .
            li
                | The Practitioner understands and agrees that, Apnicare shall at its sole discretion, at any time be entitled to, show as other Practitioners available for consultation.
            li
                | The Practitioner further understands that, there is a responsibility on the Practitioner to treat the User, pari passu, as the Practitioner would have otherwise treated the User on a physical one-on-one consultation model.
            li
                | The Practitioner has the discretion to cancel any consultation at any point in time in cases where the Practitioner feels, it is beyond his/her expertise or his/her capacity to treat the User. In such cases, it may trigger a refund to the User and the User has the option of choosing other Practitioners. However, it is strongly recommended that the Practitioner advise the User and explain appropriately for next steps.
            li
                | The Practitioner shall at all times ensure that all the applicable laws that govern the Practitioner shall be followed and utmost care shall be taken in terms of the consultation being rendered.
            li
                | The Practitioner acknowledges that should Apnicare find the Practitioner to be in violation of any of the applicable laws/rules/ regulations/guidelines set out by the authorities then Apnicare shall be entitled to cancel the consultation with such Practitioner or take such other legal action as may be required.
            li
                | The payment gateway option is being provided to the Users to make payment easier. In case wrong bank account details are provided by Practitioner, Apnicare will not be responsible for loss of money, if any. In case of there being any technical failure, at the time of transaction and there is a problem in making payment, you could contact
                a(href='support@apnicare.com') support@apnicare.com
            li
                | It is further understood by the Practitioner that the information that is disclosed by the User at the time of consultation is personal information and is subject to all applicable privacy laws, shall be confidential in nature and subject to User and Practitioner privilege.
            li
                | The Practitioner understands that the certain Consult features (such as follow-up feature) shall be available only if the same has been enabled by the Practitioner and that the maximum number of messages that Practitioner can send and the number of days for which follow-up will be active for, shall be as set by the Practitioner.
            li
                | The Practitioner understands that when a User books a time-slot with the Practitioner for online consultation, the Practitioner must comply with the time slot to the best of their availability. In case of delay, the doctor must notify User to their best possible ability.
            li
                | The Practitioner understands that Apnicare makes no promise or guarantee for any uninterrupted communication and the Practitioner shall not hold Apnicare liable, if for any reason the communication is not delivered to the User(s), or are delivered late or not accessed, despite the efforts undertaken by Apnicare.
            li
                | It shall be the responsibility of the Practitioner to ensure that the information provided by User is accurate and not incomplete and understand that Apnicare shall not be liable for any errors in the information included in any communication between the Practitioner and User.
            li
                | Read more on Settlement Policy
                a(href='www.apnicare.com') here
                | .
            br
            li
                strong 3.7
                | APNICARE DRUG AND DISEASE INDEX
            br
            li
                strong 3.7.1
                | Apnicare Drug and disease index is an online content platform available on the website, wherein Pharmacologists, Medical students, Practitioners who have created a Apnicare profile can login and post drugs, disease, health conditions, health and wellness related content
            li
                strong 3.7.2
                | A User can view Apnicare Drug and disease index by logging in from their health account, The Content uploaded via Apnicare does not constitute medical advice and may not be construed as such by any person.
            li
                strong 3.7.3
                | The Medical professionals acknowledges that they are the original authors and creators of any Content uploaded by them via Apnicare Drug and disease index and that no Content uploaded by them would constitute infringement of the intellectual property rights of any other person. Apnicare reserves the right to remove any Content which it may determine at its own discretion as violating the intellectual property rights of any other person. The User agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of any third party intellectual property right claim that may arise from the users uploading of any Content on Apnicare Drug and disease index. The User may not use the images in the Apnicare Gallery for any purpose other than those directly related to the creation and uploading of Content to Apnicare Drug and disease index. The User also agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of any third party intellectual property claim if the User downloads, copies or otherwise utilizes an image from the Apnicare Gallery for his/her personal or commercial gain.
            li
                strong 3.7.4
                | The Medical professionals hereby assigns to Apnicare, in perpetuity and worldwide, all intellectual property rights in any Content created by the User and uploaded by the User via Apnicare Drug and disease index.
            li
                strong 3.7.5
                | Apnicare shall have the right to edit or remove the Content and any comments in such manner as it may deem Apnicare Drug and disease index at any time.
            li
                strong 3.7.6
                | The Medical professionals agrees not to upload Content which is defamatory, obscene or objectionable in nature and Apnicare reserves the right to remove any Content which it may determine at its own discretion to violate these Terms and Conditions or be violative of any law or statute in force at the time. The User agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of any legal claim arising from the nature of the Content posted by the User on Apnicare Drug and disease index.
            li
                strong 3.7.7
                | A User may also use Apnicare Drug and disease index in order to view original content created by Medical professionals and to create and upload comments on such Content, where allowed.
            li
                strong 3.7.8
                | User acknowledges that the Content on Apnicare Drug and disease index reflects the views and opinions of the authors of such Content and do not necessarily reflect the views of Apnicare.
            li
                strong 3.7.9
                | User agrees that the content they access on Apnicare Drug and disease index does not in any way constitute medical advice and that the responsibility for any act or omission by the User arising from the Users interpretation of the Content, is solely attributable to the user. The User agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of the Users actions resulting from the Users viewing of Content on Apnicare Drug and disease index.
            li
                strong 3.7.10
                | The User acknowledges that all intellectual property rights in the Content on Apnicare Drug and disease index vests with Apnicare. The User agrees not to infringe upon Apnicares intellectual property by copying or plagiarizing content on Apnicare Drug and disease index. Apnicare reserves its right to initiate all necessary legal remedies available to them in case of such an infringement by the User. All comments created and uploaded by the User on Apnicare Drug and disease index will be the sole intellectual property of Apnicare. The User agrees not to post any comments on Apnicare Drug and disease index that violate the intellectual property of any other person. Apnicare reserves the right to remove any comments which it may determine at its own discretion as violating the intellectual property rights of any other person. The User agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of any third party intellectual property right claim that may arise from the Users uploading of any comment on Apnicare Drug and disease index.
            li
                strong 3.7.11
                | User agrees not to post any comments which are defamatory, obscene, objectionable or in nature and Apnicare reserves the right to remove any comments which it may determine at its own discretion to violate these Terms and Conditions or be violative of any law or statute in force at the time. The User agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of any legal claim arising from the nature of the comments posted by the User on Apnicare Drug and disease index.
            br
            li
                strong 3.8
                | CONTENT OWNERSHIP AND COPYRIGHT CONDITIONS OF ACCESS
            br
            li
                strong 3.8.1
                | The contents listed on the Website are (i) Medical practioner generated content, or (ii) belong to Apnicare. The information that is collected by Apnicare directly or indirectly from the End- Users and the Practitioners shall belong to Apnicare. Copying of the copyrighted content published by Apnicare on the Website for any commercial purpose or for the purpose of earning profit will be a violation of copyright and Apnicare reserves its rights under applicable law accordingly.
            li
                strong 3.8.2
                | Apnicare authorizes the User to view and access the content available on or from the Website solely for ordering, receiving, delivering and communicating only as per this Agreement. The contents of the Website, information, text, graphics, images, logos, button icons, software code, design, and the collection, arrangement and assembly of content on the Website (collectively,
                strong "Apnicare Content"
                | ), are the property of Apnicare and are protected under copyright, trademark and other laws. User shall not modify the Apnicare Content or reproduce, display, publicly perform, distribute, or otherwise use the Apnicare Content in any way for any public or commercial purpose or for personal gain.
            li
                strong 3.8.3
                | User shall not access the Services for purposes of monitoring their availability, performance or functionality, or for any other benchmarking or competitive purposes.
            br
            li
                strong 3.9
                | REVIEWS AND FEEDBACK
            p
                | By using this Website, you agree that any information shared by you with Apnicare or with any Practitioner will be subject to our Privacy Policy.
            p
                | You are solely responsible for the content that you choose to submit for publication on the Website, including any feedback, ratings, or reviews (Critical Content) relating to Practitioners or other healthcare professionals. The role of Apnicare in publishing Critical Content is restricted to that of an intermediary under the Information Technology Act, 2000. Apnicare disclaims all responsibility with respect to the content of Critical Content, and its role with respect to such content is restricted to its obligations as an intermediary under the said Act. Apnicare shall not be liable to pay any consideration to any User for re-publishing any content across any of its platforms.
            p
                | Your publication of reviews and feedback on the Website is governed by Clause 5 of these Terms. Without prejudice to the detailed terms stated in Clause 5, you hereby agree not to post or publish any content on the Website that (a) infringes any third-party intellectual property or publicity or privacy rights, or (b) violates any applicable law or regulation, including but not limited to the IG Rules and SPI Rules. Apnicare, at its sole discretion, may choose not to publish your reviews and feedback, if so required by applicable law, and in accordance with Clause 5 of these Terms. You agree that Apnicare may contact you through telephone, email, SMS, or any other electronic means of communication for the purpose of:
            p i. Obtaining feedback in relation to Website or Apnicares services; and/or
            p
            p
                | ii. Obtaining feedback in relation to any Practitioners listed on the Website; and/or
            p
                | iii. Resolving any complaints, information, or queries by Practitioners regarding your Critical Content;
            p
                | and you agree to provide your fullest co-operation further to such communication by Apnicare. Apnicares Feedback Collection and Fraud Detection Policy, is annexed as the Schedule hereto, and remains subject always to these Terms.
            li
                strong 3.10
                | RECORDS
            p
                | Apnicare may provide End-Users with a free facility known as Records on its mobile application Apnicare. Information available in your Records is of two types:
            p
                | i. User-created: Information uploaded by you or information generated during your interaction with Apnicare ecosystem, eg: appointment, medicine order placed by you.
            p
                | ii. Practice-created: Health Records generated by your interaction with a Practitioner who uses Apnicare Ray or other Services of Apnicare software.
            p
                | The specific terms relating to such Health Account are as below, without prejudice to the rest of these Terms and the Privacy Policy:
            li
                strong 3.10.1
                | Your Records is only created after you have signed up and explicitly accepted these Terms.
            li
                strong 3.10.2
                | Any Practice created Health Record is provided on an as-is basis at the sole intent, risk and responsibility of the Practitioner and Apnicare does not validate the said information and makes no representation in connection therewith. You should contact the relevant Practitioner in case you wish to point out any discrepancies or add, delete, or modify the Health Record in any manner.
            li
                strong 3.10.3
                | The Health Records are provided on an as-is basis. While we strive to maintain the highest levels of service availability, Apnicare is not liable for any interruption that may be caused to your access of the Services.
            li
                strong 3.10.4
                | The reminder provided by the Records is only a supplementary way of reminding you to perform your activities as prescribed by your Practitioner. In the event of any medicine reminders provided by Apnicare, you should refer to your prescription before taking any medicines. Apnicare is not liable if for any reason reminders are not delivered to you or are delivered late or delivered incorrectly, despite its best efforts. In case you do not wish to receive the reminders, you can switch it off through the Apnicare app.
            li
                strong 3.10.5
                | It is your responsibility to keep your correct mobile number and email ID updated in the Records. The Health Records will be sent to the Records associated with this mobile number and/or email ID. Every time you change any contact information (mobile or email), we will send a confirmation. Apnicare is not responsible for any loss or inconvenience caused due to your failure in updating the contact details with Apnicare.
            li
                strong 3.10.6
                | Apnicare uses industrylevel security and encryption to your Health Records. However, Apnicare does not guarantee to prevent unauthorized access if you lose your login credentials or they are otherwise compromised. In the event you are aware of any unauthorized use or access, you shall immediately inform Apnicare of such unauthorized use or access. Please safeguard your login credentials and report any actual suspected breach of account to support@Apnicare.com.
            li
                strong 3.10.7
                | If you access your dependents Health Records by registering your dependents with your own Records, you are deemed to be responsible for the Health Records of your dependents and all obligations that your dependents would have had, had they maintained their own separate individual Records. You agree that it shall be your sole responsibility to obtain prior consent of your dependent and shall have right to share, upload and publish any sensitive personal information of your dependent. Apnicare assumes no responsibility for any claim, dispute or liability arising in this regard, and you shall indemnify Apnicare and its officers against any such claim or liability arising out of unauthorized use of such information.
            li
                strong 3.10.8
                | In case you want to delete your Records, you can do so by contacting our service support team. However only your account and any associated Health Records will be deleted, and your Health Records stored by your Practitioners will continue to be stored in their respective accounts.
            li
                strong 3.10.9
                | You may lose your User created record, if the data is not synced with the server.
            li
                strong 3.10.10
                | If the Health Record is unassessed for a stipulated time, you may not be able to access your Health Records due to security reasons.
            li
                strong 3.10.11
                | Apnicare is not liable if for any reason, Health Records are not delivered to you or are delivered late despite its best efforts.
            li
                strong 3.10.12
                | The Health Records are shared with the phone numbers that are provided by your Practitioner. Apnicare is not responsible for adding the Heath Records with incorrect numbers if those incorrect numbers are provided by the Practitioner.
            li
                strong 3.10.13
                | Apnicare is not responsible or liable for any content, fact, Health Records, medical deduction or the language used in your Health Records whatsoever. Your Practitioner is solely responsible and liable for your Health Records and any information provided to us including but not limited to the content in them.
            li
                strong 3.10.14
                | Apnicare has the ability in its sole discretion to retract Health Records without any prior notice if they are found to be shared incorrectly or inadvertently.
            li
                strong 3.10.15
                | Apnicare will follow the law of land in case of any constitutional court or jurisdiction mandates to share the Health Records for any reason.
            li
                strong 3.10.16
                | You agree and acknowledge that Apnicare may need to access the Health Record for cases such as any technical or operational issue of the End User in access or ownership of the Records.
            li
                strong 3.10.17
                | You acknowledge that the Practitioners you are visiting may engage Apnicare's software or third party software for the purposes of the functioning of the Practitioners business and Apnicare's services including but not limited to the usage and for storage of Records (as defined in Section 3.10) in India and outside India, in accordance with the applicable laws.
            li
                strong 3.10.18
                | To the extent that your Records have been shared with Apnicare or stored on any of the Apnicare products used by Practitioners you are visiting, and may in the past have visited, You hereby agree to the storage of your Records by Apnicare pertaining to such previously visited clinics and hospitals who have tie ups with Apnicare for the purposes of their business and for Apnicare's services including but not limited to the usage and for storage of Records (as defined in Section 3.10) in India and outside India, in accordance with the applicable laws and further agree, upon creation of your account with Apnicare, to the mapping of such Records as may be available in Apnicares database to your User account.
            br
            li
                strong 3.11
                | APNICARE MEDICINE INFORMATION
            br
            span
                | For detailed terms and conditions regarding medicine information click
                a(href='www.apnicare.com') here
                | .
            br
            br
            li
                strong 4.TERMS OF USE PRACTITIONERS
            p The terms in this Clause 4 are applicable only to Practitioners.
            li
                strong 4.1
                | LISTING POLICY
            br
            li
                strong 4.1.1
                | Apnicare, directly and indirectly, collects information regarding the Practitioners profiles, contact details, and practice. Apnicare reserves the right to take down any Practitioners profile as well as the right to display the profile of the Practitioners, with or without notice to the concerned Practitioner. This information is collected for the purpose of facilitating interaction with the End-Users and other Users. If any information displayed on the Website in connection with you and your profile is found to be incorrect, you are required to inform Apnicare immediately to enable Apnicare to make the necessary amendments.
            li
                strong 4.1.2
                | Apnicare shall not be liable and responsible for the ranking of the Practitioners on external websites and search engines
            li
                strong 4.1.3
                | Apnicare shall not be responsible or liable in any manner to the Users for any losses, damage, injuries or expenses incurred by the Users as a result of any disclosures or publications made by Apnicare, where the User has expressly or implicitly consented to the making of disclosures or publications by Apnicare. If the User had revoked such consent under the terms of the Privacy Policy, then Apnicare shall not be responsible or liable in any manner to the User for any losses, damage, injuries or expenses incurred by the User as a result of any disclosures made by Apnicare prior to its actual receipt of such revocation.
            li
                strong 4.1.4
                | Apnicare reserves the right to moderate the suggestions made by the Practitioners through feedback and the right to remove any abusive or inappropriate or promotional content added on the Website. However, Apnicare shall not be liable if any inactive, inaccurate, fraudulent, or non- existent profiles of Practitioners are added to the Website.
            li
                strong 4.1.5
                | Practitioners explicitly agree that Apnicare reserves the right to publish the Content provided by Practitioners to a third party including content platforms.
            li
                strong 4.1.6
                | When you are listed on Apnicare.com, End-Users may see a show number option. When End-Users choose this option, they choose to call your number through a free telephony service provided by Apnicare, and the records of such calls are recorded and stored in Apnicares servers. Such records are dealt with only in accordance with the terms of the Privacy Policy. Such call facility provided to End-Users and to you by Apnicare should be used only for appointment and booking purposes, and not for consultation on health-related issues. Apnicare accepts no liability if the call facility is not used in accordance with the foregoing.
            li
                strong 4.1.7
                | You as a Practitioner hereby represent and warrant that you will use the Services in accordance with applicable law. Any contravention of applicable law as a result of your use of these Services is your sole responsibility, and Apnicare accepts no liability for the same.
            br
            li
                strong 4.2
                | PROFILE OWNERSHIP AND EDITING RIGHTS
            p
                | Apnicare ensures easy access to the Practitioners by providing a tool to update your profile information. Apnicare reserves the right of ownership of all the Practitioners profile and photographs and to moderate the changes or updates requested by Practitioners. However, Apnicare takes the independent decision whether to publish or reject the requests submitted for the respective changes or updates. You hereby represent and warrant that you are fully entitled under law to upload all content uploaded by you as part of your profile or otherwise while using Apnicares services, and that no such content breaches any third party rights, including intellectual property rights. Upon becoming aware of a breach of the foregoing representation, Apnicare may modify or delete parts of your profile information at its sole discretion with or without notice to you.
            li
                strong 4.3
                | REVIEWS AND FEEDBACK DISPLAY RIGHTS OF APNICARE
            br
            li
                strong 4.3.1
                | All Critical Content is content created by the Users of
                a(href='www.apnicare.com') www.Apnicare.com
                |
                strong (Website)
                | and the clients of Apnicare customers and Practitioners, including the End-Users. As a platform, Apnicare does not take responsibility for Critical Content and its role with respect to Critical Content is restricted to that of an intermediary under the Information Technology Act, 2000. The role of Apnicare and other legal rights and obligations relating to the Critical Content are further detailed in Clauses 3.9 and 5 of these Terms. Apnicares Feedback Collection and Fraud Detection Policy, is annexed as the Schedule hereto, and remains subject always to these Terms.
            li
                strong 4.3.2
                | Apnicare reserves the right to collect feedback and Critical Content for all the Practitioners, Clinics and Healthcare Providers listed on the Website.
            li
                strong 4.3.3
                | Apnicare shall have no obligation to pre-screen, review, flag, filter, modify, refuse or remove any or all Critical Content from any Service, except as required by applicable law.
            li
                strong 4.3.4
                | You understand that by using the Services you may be exposed to Critical Content or other content that you may find offensive or objectionable. Apnicare shall not be liable for any effect on Practitioners business due to Critical Content of a negative nature. In these respects, you may use the Service at your own risk. Apnicare however, as an intermediary, takes steps as required to comply with applicable law as regards the publication of Critical Content. The legal rights and obligations with respect to Critical Content and any other information sought to be published by Users are further detailed in Clauses 3.9 and 5 of these Terms.
            li
                strong 4.3.5
                | Apnicare will take down information under standards consistent with applicable law, and shall in no circumstances be liable or responsible for Critical Content, which has been created by the Users. The principles set out in relation to third party content in the terms of Service for the Website shall be applicable mutatis mutandis in relation to Critical Content posted on the Website.
            li
                strong 4.3.6
                | If Apnicare determines that you have provided inaccurate information or enabled fraudulent feedback, Apnicare reserves the right to immediately suspend any of your accounts with Apnicare and makes such declaration on the website alongside your name/your clinics name as determined by Apnicare for the protection of its business and in the interests of Users.
            br
            li
                strong 4.4
                | RELEVANCE ALGORITHM
            p
                | Apnicare has designed the relevance algorithm in the best interest of the End-User and may adjust the relevance algorithm from time to time to improve the quality of the results given to the patients. It is a pure merit driven, proprietary algorithm which cannot be altered for specific Practitioners. Apnicare shall not be liable for any effect on the Practitioners business interests due to the change in the Relevance Algorithm.
            li
                strong 4.5
                | INDEPENDENT SERVICES
            p
                | Your use of each Service confers upon you only the rights and obligations relating to such Service, and not to any other service that may be provided by Apnicare.
            li
                strong 4.6
                | APNICARE REACH RIGHTS
            p
                | Apnicare reserves the rights to display sponsored ads / another ads provider ads on the Website. These ads would be marked as Sponsored ads/ ads provider name. Without prejudice to the status of other content, Apnicare will not be liable for the accuracy of information or the claims made in the Sponsored ads/ ads provider ads. Apnicare does not encourage the Users to visit the Sponsored ads page or to avail any services from them. Apnicare will not be liable for the services of the providers of the Sponsored ads/ ads provider ads.
            p
                | You represent and warrant that you will use these Services in accordance with applicable law. Any contravention of applicable law as a result of your use of these Services is your sole responsibility, and Apnicare accepts no liability for the same.
            li
                strong 4.7
                | APNICARE CONSULT
            br
            li
                strong 4.7.1
                | Apnicare Consult enables Practitioners to connect with the Users by responding to the health related queries posted by them on their Health Accounts using the special software application provided to Practitioners by Apnicare
                strong (Doctor App)
                | .
            li
                strong 4.7.2
                | The User may post two types of queries on their Health Accounts (i) public query, which is sent through Apnicare Consult to multiple Practitioners and enables any of the chosen Practitioner to respond to the query posted; and (ii) private query, which will be only sent to the Practitioner that the User has chosen.
            li
                strong 4.7.3
                | The public queries posted by the Users are sent to multiple Practitioners through a fully automated system installed in the Doctor App. The automated system chooses Practitioners based on inter alia the information furnished by each Practitioner, the number of questions answered by the Practitioner and the rating or reviews procured by the Practitioner. Apnicare does not guarantee in any manner that any query will be directed to a particular Practitioner and will not be responsible for the Practitioners chosen to respond to the queries.
            li
                strong 4.7.4
                | Practitioner agrees that, when providing any written response to a Users query that constitutes a performance of his/her services, the Practitioner shall not post language that may be considered abusive, objectionable or demeaning to the User or in general.
            li
                strong 4.7.5
                | In the event, the Practitioner indicates as part of his response the pre-consultation fee payable for the advice solicited through the private query, Apnicare shall provide the User an option to directly remit the amount to the Practitioner through the Health Account and subsequently deduct a portion from the amount paid as its fee for the performance of the services.
            li
                strong 4.7.6
                | Apnicare shall remit the fees to the Practitioner in accordance with the terms agreed between the Practitioners and Apnicare in the Software License and Services Agreement executed between them.
            li
                strong 4.7.7
                | Apnicare reserves the right to revise the fee terms at any time at their discretion. The Practitioners continued use of the services and Doctor App shall constitute his/her consent to such revision.
            li
                strong 4.7.8
                | Practitioner hereby agrees that it shall use the Doctor App for the purpose specified in these Terms of Use and shall not use the Doctor App for any unauthorized and unlawful purpose, including impersonating another person.
            li
                strong 4.7.9
                | Practitioner hereby represents and warrants that he/she
            li is qualified to provide medical services within the territory of India;
            li
                | has obtained all licenses as required by law to provide medical services and has not committed any act or omission that might prejudice its continuance or renewal; and
            li
                | has provided Apnicare true, accurate, complete and up to date details about their qualification and credentials.
            li
                strong 4.7.10
                | Practitioner agrees that he/she shall at all times abide by the applicable medical regulations including the code of
            li
                strong 4.7.11
                | Practitioners shall promptly renew their licenses required to provide medical services and notify Apnicare about the same.
            li
                strong 4.7.12
                | Apnicare reserves the right to terminate any account of the Practitioner in case:
            li
                | the Practitioner breaches any terms and conditions of this terms of use or privacy policy or applicable laws;
            li
                | Apnicare is unable to verify or authenticate any information provided to it by a Practitioner; or
            li
                | Apnicare in its sole and absolute discretion believes that actions of the Practitioner may cause legal liability for Apnicare or other Users and / or may adversely affect the services rendered by Apnicare.
            li
                strong 4.7.13
                | Practitioner hereby agrees that, for any User that contacts the Practitioner using Apnicare Consult, only he/she shall be allowed to perform the services for the User and that the Practitioner may under no circumstances be permitted to transfer the performance of Your Services to any other person, whether under their supervision or not. The Practitioner accepts all responsibility and liability for the use of Apnicare Consult, including the performance of its services, by any other party claiming to be the Practitioner and hereby agrees to indemnify Apnicare against any claim or loss that may be faced by Apnicare consequent to such use.
            li
                strong 4.7.14
                | Practitioner hereby agrees to hold in strictest confidence all information provided by a User to him/her under all circumstances. Practitioner agrees that he/she shall not disclose any information or documentation provided by a User to any other person, nor shall he/she allow, by act or omission, such information or documentation to be acquired by any other person.
            li
                strong 4.7.15
                | Practitioner agrees to render his/her services and fulfill their obligations towards their patients using their best efforts, skill and ability.
            li
                strong 4.7.16
                | Practitioner agrees and understands that some or all his/her may be made available to the general public through the Doctor App or otherwise by the Company and that he/she has no objection to the same.
            li
                strong 4.7.17
                | Practitioner hereby agrees to assign to Apnicare in perpetuity all intellectual property rights residing in the responses provided by him/her for use by Apnicare worldwide.
            li
                strong 4.7.18
                | Practitioner hereby agrees not to seek the contact details of any User or to contact any User except through the Doctor App.
            li
                strong 4.7.19
                | Any communication sent by or through Apnicare to the Practitioner is based solely on information uploaded by the Users. Apnicare shall not be responsible for the incompleteness or inaccuracy such information, including if as a result of such inaccuracy, a communication is sent to an unintended recipient.
            li
                strong 4.7.20
                | Practitioner shall be liable to indemnify and hold Apnicare harmless from and against all actions, claims, damages, losses and expenses, including court costs and reasonable attorneys fees, arising out of or resulting from any breach, default, contravention, non-observance, non-performance, improper performance of any of its obligations or the terms, conditions, covenants and provisions contained in this Terms of Use.
            br
            li
                strong 4.8
                | APNICARE DRUG AND DISEASE INDEX
            br
            li
                strong 4.8.1
                | Apnicare Drug and disease index is an online content platform available on the website, wherein Practitioners who have a Apnicare profile and Users who have a health account can login and post  health and wellness related content.
            li
                strong 4.8.2
                | A Practitioner can use Drug and disease index by logging in from their profile, creating original content comprising text, audio, video, images data or any combination of the same (as defined in Clause 3.7.2), and uploading said Content to Apnicares servers. The Practitioner can upload their own images or choose an image from the gallery that Apnicare provides. Apnicare shall post such Content to Apnicare Drug and disease index at its own option and subject to these Terms and Conditions. The Content uploaded via Apnicare Drug and disease index does not constitute medical advice and may not be construed as such by any person.
            li
                strong 4.8.3
                | The Practitioner acknowledges that they are the original authors and creators of any Content or comments uploaded by them via Apnicare Drug and disease index and that no Content or comment uploaded by them would constitute infringement of the intellectual property rights of any other person. Apnicare reserves the right to remove any Content or comment which it may determine at its own discretion as violating the intellectual property rights of any other person. The Practitioner agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of any third party intellectual property right claim that may arise from the Practitioners uploading of any Content on Apnicare Drug and disease index. The Practitioner also agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of any third party intellectual property claim if the Practitioner downloads an image from Apnicares gallery and utilizes it for his/her personal or commercial gain.
            li
                strong 4.8.4
                | The Practitioner hereby assigns to Apnicare, in perpetuity and worldwide, all intellectual property rights in any Content or comment created by the Practitioner and uploaded by the Practitioner via Apnicare Drug and disease index.
            li
                strong 4.8.5
                | Apnicare shall have the right to edit or remove the Content and any comments in such manner as it may deem fit at any time.
            li
                strong 4.8.6
                | The Practitioner may also use Apnicare Drug and disease index in order to view original content created by Users or other Practitioners and also create and upload comments on such Content including their own content where allowed.
            li
                strong 4.8.7
                | Practitioner acknowledges that the content on Apnicare Drug and disease index reflects the views and opinions of the authors of such content and does not necessarily reflect Apnicares views.
            li
                strong 4.8.8
                | Practitioner agrees not to post any comments or upload any Content which are defamatory, obscene, objectionable or in nature and Apnicare reserves the right to remove any comments which it may determine at its own discretion to violate these Terms and Conditions or be violative of any law or statute in force at the time. The Practitioner agrees to absolve Apnicare from and indemnify Apnicare against all claims that may arise as a result of any legal claim arising from the nature of the Content or the comments posted by the Practitioner on Apnicare Drug and disease index
            br
            li
                strong 4.9
                | APNICARE MEDICINE INFORMATION
            p
                | For detailed terms and conditions regarding medicine information click
                a(href='www.apnicare.com') here
                | .
            li
                strong 4.10
                | BOOK APPOINTMENT AND CALL FACILITY
            br
            li
                strong 4.10.1
                | As a valuable partner on our platform we want to ensure that the Practitioners experience on the Apnicare booking platform is beneficial to both, Practitioners and their Users.
                br
                | For all terms and conditions of Book facility on Apnicare profile check
                a(href='www.apnicare.com') Book Standards
                | .
            li
                strong 4.10.2
                | Practitioner understands that, Apnicare shall not be liable, under any event, for any comments or feedback given by any of the Users in relation to the Services provided by Practitioner. The option of publishing or modifying or moderating or masking (where required by law or norm etc.) the feedback provided by Users shall be solely at the discretion of Apnicare.
            br
            li
                strong 5.RIGHTS AND OBLIGATIONS RELATING TO CONTENT
            br
            li
                strong 5.1
                | As mandated by Regulation 3(2) of the IG Rules, Apnicare hereby informs Users that they are not permitted to host, display, upload, modify, publish, transmit, update or share any information that:
            p i.  belongs to another person and to which the User does not have any right to;
            p
                | ii. is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;
            p iii.  harm minors in any way;
            p iv. infringes any patent, trademark, copyright or other proprietary rights;
            p v.  violates any law for the time being in force;
            p
                | vi. deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;
            p vii.  impersonate another person;
            p
                | viii.  contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;
            p
                | ix.  threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.
            li
                strong 5.2
                | Users are also prohibited from:
            p
                | i. violating or attempting to violate the integrity or security of the Website or any Apnicare Content;
            p
                | ii. transmitting any information (including job posts, messages and hyperlinks) on or through the Website that is disruptive or competitive to the provision of Services by Apnicare;
            p
                | iii. intentionally submitting on the Website any incomplete, false or inaccurate information;
            p iv.  making any unsolicited communications to other Users;
            p
                | v.  using any engine, software, tool, agent or other device or mechanism (such as spiders, robots, avatars or intelligent agents) to navigate or search the Website;
            p
                | vi.  attempting to decipher, decompile, disassemble or reverse engineer any part of the Website;
            p
                | vii.  copying or duplicating in any manner any of the Apnicare Content or other information available from the Website;
            p viii.  framing or hot linking or deep linking any Apnicare Content.
            p
                | ix.  circumventing or disabling any digital rights management, usage rules, or other security features of the Software.
            li
                strong 5.3
                | Apnicare, upon obtaining knowledge by itself or been brought to actual knowledge by an affected person in writing or through email signed with electronic signature about any such information as mentioned above, shall be entitled to disable such information that is in contravention of Clauses 5.1 and 5.2. Apnicare shall also be entitled to preserve such information and associated records for at least 90 (ninety) days for production to governmental authorities for investigation purposes.
            li
                strong 5.4
                | In case of non-compliance with any applicable laws, rules or regulations, or the Agreement (including the Privacy Policy) by a User, Apnicare has the right to immediately terminate the access or usage rights of the User to the Website and Services and to remove non-compliant information from the Website.
            li
                strong 5.5
                | Apnicare may disclose or transfer User-generated information to its affiliates or governmental authorities in such manner as permitted or required by applicable law, and you hereby consent to such transfer. The SPI Rules only permit Apnicare to transfer sensitive personal data or information including any information, to any other body corporate or a person in India, or located in any other country, that ensures the same level of data protection that is adhered to by Apnicare as provided for under the SPI Rules, only if such transfer is necessary for the performance of the lawful contract between Apnicare or any person on its behalf and the User or where the User has consented to data transfer.
            li
                | Apnicare respects the intellectual property rights of others and we do not hold any responsibility for any violations of any intellectual property rights.
            br
            li
                strong 6.TERMINATION
            br
            li
                strong 6.1
                | Apnicare reserves the right to suspend or terminate a Users access to the Website and the Services with or without notice and to exercise any other remedy available under law, in cases where,
            p i.  Such User breaches any terms and conditions of the Agreement;
            p
                | ii.  A third party reports violation of any of its right as a result of your use of the Services;
            p
                | iii.  Apnicare is unable to verify or authenticate any information provide to Apnicare by a User;?
            p
                | iv.  Apnicare has reasonable grounds for suspecting any illegal, fraudulent or abusive activity on part of such User; or
            p
                | v.  Apnicare believes in its sole discretion that Users actions may cause legal liability for such User, other Users or for Apnicare or are contrary to the interests of the Website.
            li
                strong 6.2
                | Once temporarily suspended, indefinitely suspended or terminated, the User may not continue to use the Website under the same account, a different account or re-register under a new account. On termination of an account due to the reasons mentioned herein, such User shall no longer have access to data, messages, files and other material kept on the Website by such User. The User shall ensure that he/she/it has continuous backup of any medical services the User has rendered in order to comply with the Users record keeping process and practices.
            br
            li
                strong 7.LIMITATION OF LIABILITY
            p
                | In no event, including but not limited to negligence, shall Apnicare, or any of its directors, officers, employees, agents or content or service providers (collectively, the Protected Entities) be liable for any direct, indirect, special, incidental, consequential, exemplary or punitive damages arising from, or directly or indirectly related to, the use of, or the inability to use, the Website or the content, materials and functions related thereto, the Services, Users provision of information via the Website, lost business or lost End-Users, even if such Protected Entity has been advised of the possibility of such damages. In no event shall the Protected Entities be liable for:
            p
                | i.  provision of or failure to provide all or any service by Practitioners to End- Users contacted or managed through the Website;
            p
                | ii. any content posted, transmitted, exchanged or received by or on behalf of any User or other person on or through the Website;
            p iii.  any unauthorized access to or alteration of your transmissions or data; or
            p iv.  any other matter relating to the Website or the Service.
            p
                | In no event shall the total aggregate liability of the Protected Entities to a User for all damages, losses, and causes of action (whether in contract or tort, including, but not limited to, negligence or otherwise) arising from this Agreement or a Users use of the Website or the Services exceed, in the aggregate Rs. 1000/- (Rupees One Thousand Only).
            li
                strong 8.RETENTION AND REMOVAL
            p
                | Apnicare may retain such information collected from Users from its Website or Services for as long as necessary, depending on the type of information; purpose, means and modes of usage of such information; and according to the SPI Rules. Computer web server logs may be preserved as long as administratively necessary.
            li
                strong 9.APPLICABLE LAW AND DISPUTE SETTLEMENT
            br
            li
                strong 9.1
                | You agree that this Agreement and any contractual obligation between Apnicare and User will be governed by the laws of India.
            li
                strong 9.2
                | Any dispute, claim or controversy arising out of or relating to this Agreement, including the determination of the scope or applicability of this Agreement to arbitrate, or your use of the Website or the Services or information to which it gives access, shall be determined by arbitration in India, before a sole arbitrator appointed by Apnicare. Arbitration shall be conducted in accordance with the Arbitration and Conciliation Act, 1996. The seat of such arbitration shall be Ghaziabad (U.P). All proceedings of such arbitration, including, without limitation, any awards, shall be in the English language. The award shall be final and binding on the parties to the dispute.
            li
                strong 9.3
                | Subject to the above Clause 9.2, the courts at Ghaziabad shall have exclusive jurisdiction over any disputes arising out of or in relation to this Agreement, your use of the Website or the Services or the information to which it gives access.
            br
            li
                strong 10.CONTACT INFORMATION GRIEVANCE OFFICER
            br
            li
                strong 10.1
                | If a User has any questions concerning Apnicare, the Website, this Agreement, the Services, or anything related to any of the foregoing, Apnicare customer support can be reached at the following email address: support@apnicare.com or via the contact information available from the following hyperlink:
                a(href='www.apnicare.com/contact') www.apnicare.com/contact
                | .
            li
                strong 10.2
                | In accordance with the Information Technology Act, 2000, and the rules made there under, if you have any grievance with respect to the Website or the service, including any discrepancies and grievances with respect to processing of information, you can contact our Grievance Officer at: Name: Avnish pal Designation: Head  Customer Experience Address: S-23, TBI KIET, Delhi- meerut highway, Ghaziabad (U.P) INDIA 201206 Email: support@apnicare.com Telephone: +91-8630051462 (Ask to be connected to the Grievance Officer) In the event you suffer as a result of access or usage of our Website by any person in violation of Rule 3 of the IG Rules, please address your grievance to the above person.
            br
            li
                strong 11.SEVERABILITY
            p
                | If any provision of the Agreement is held by a court of competent jurisdiction or arbitral tribunal to be unenforceable under applicable law, then such provision shall be excluded from this Agreement and the remainder of the Agreement shall be interpreted as if such provision were so excluded and shall be enforceable in accordance with its terms; provided however that, in such event, the Agreement shall be interpreted so as to give effect, to the greatest extent consistent with and permitted by applicable law, to the meaning and intention of the excluded provision as determined by such court of competent jurisdiction or arbitral tribunal.
            li
                strong 12.WAIVER
            p
                | No provision of this Agreement shall be deemed to be waived and no breach excused, unless such waiver or consent shall be in writing and signed by Apnicare. Any consent by Apnicare to, or a waiver by Apnicare of any breach by you, whether expressed or implied, shall not constitute consent to, waiver of, or excuse for any other different or subsequent breach.
            p
                | YOU HAVE READ THESE TERMS OF USE AND AGREE TO ALL OF THE PROVISIONS CONTAINED ABOVE
